<!DOCTYPE html>
<html>
<head>
  <title>Sjlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <%= link_to 'Logout', sessions_url, method: :delete %>
<% else %>
  <%= link_to 'New User', new_user_url %>
  <%= link_to 'Login', sessions_new_url %>
<% end %>

<%= yield %>

</body>
</html>
